<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32">
                <use xlink:href="#peace-fill" />
            </svg>
            <span class="fs-4">Flask Login Example</span>
        </a>

        <ul class="nav">
            <li class="nav-item"><a href="{{ url_for('main.index') }}" class="nav-link active" aria-current="page">Home</a></li>
            <!--<li class="nav-item"><a href="#" class="nav-link">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link">About</a></li>-->
            <li></li>
        </ul>

        {% if current_user.is_authenticated %}
        <div class="dropdown text-end d-flex flex-wrap align-items-center">
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
                data-bs-toggle="dropdown" aria-expanded="false">
                <img src="{{ current_user.photo_url }}" alt="mdo" width="28" height="28" class="rounded-circle">
            </a>
            <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                <li><a class="dropdown-item" href="#">New project...</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="{{ url_for('main.profile') }}">Profile</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}">Sign out</a></li>
            </ul>
        </div>
        {% endif %}

        {% if not current_user.is_authenticated %}
        {% if request.url_rule.endpoint != "auth.login" %}
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <script async src="https://telegram.org/js/telegram-widget.js?14" data-telegram-login="{{ config.BOT_USERNAME }}"
                data-size="medium" data-auth-url="/tglogin" data-request-access="write"></script>
        </div>
        {% endif %}
        {% endif %}
    </header>
</div>